a {
    text-decoration: none;
    color: rgb(81,173,237);
}

a:hover {
    text-decoration: underline;
}

h4, body {
    margin: 0;
    padding:0;
}

.main-heading > *{
    padding:0;
    margin: 5px;
}


.heading {
    text-align: center;
    margin-bottom: 50px;
}

.circle-border {
    border: 1px solid black;
    border-radius: 50%;
    padding:3px;
}

.container {
    display: flex;
  
}

.left-side {
    width: 50%;
    background-color: red;
}

.right-side {
    width: 50%;
    padding: 0 50px;
}

.author {
    color: red;
}

.content-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted black;
}

.content-text {
    display: flex;
}
.content-text p {
    margin-right: 30px;
}

.roman-number {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.content-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
