@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500&display=swap');



a {
    text-decoration: none;
    color: rgb(81,173,237);
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: black;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.main-heading {
    font-size: 150px;
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    border: 3px solid white;
}

.showcase {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    
}

.showcase-container {
    margin: 50px;
    display: flex;
    margin-bottom: 200px;
   
    
}

.triangle-right {
    background-image: url("photo-1.jpg");
    clip-path: polygon(100% 50%, 0 0, 0 100%);

}

.chevron-right {
    background-image: url("photo-2.jpg");
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    overflow: hidden;
}

.chevron-left {
    background-image: url("photo-3.jpg");
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    margin-left: 50px;
}


.triangle-left {
    background-image: url("photo-4.jpg");
    clip-path: polygon(0 50%, 100% 100%, 100% 0);

}

.pair-container {
    position: relative;
    padding-left: 50px;
    margin-bottom: 400px;
}

.pair-imgs {
    width: 40vw;
    height: auto;
    border: 5px solid white;
}


.pair-2 {
    position: absolute;
    top:0;
    left:55%;
    
}

.pair-3 {
    position: absolute;
    top:200px;
    left:30%;
}

.buy {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    text-transform: uppercase;
    

}

.hover-bg {
    border: 1px solid white;
    width: 52vw;
    height: 52vh;
    border-radius: 5px;
    transition: all .5s .3s;
}

.hover-container {
    position: relative;
    display: flex;
    justify-content: center;
    transform: scale(1.2);
}

.hover-photo {
    position: relative;
    width:50vw;
    height: 50vh;
    top: 6px;
    left: 40px;
    border-radius: 5px;
    transition: all .5s;

}

.hover-photo:hover {
    transform: translateX(20px) translateY(-20px);
}
.hover-bg:hover {
    transform: translateX(20px) translateY(-20px);
}

.glamping-heading {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    text-transform: uppercase;
}

.glamping-container {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 200px;
}

.glamping-img {
    width:40vw;
    height: auto;
    border: 2px solid white;
}

@media only screen and (max-width: 670px) {
  .main-heading {
      font-size: 50px;
      border: none;
  }
}