a {
  text-decoration: none;
  color: rgb(81, 173, 237);
}

a:hover {
  text-decoration: underline;
}

body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.main-heading {
  text-align: center;
  padding: 0 100px;
  margin-right: 30%;
  margin-left: 25%;
}

.main-heading h2 {
  font-size: 80px;
}

.main-heading p {
    font-size: 25px;
}

.card {
  text-align: center;
  width: 70%;
  height: 100%;
  flex: 0 0 auto;
  margin-bottom: 10px;
}

.card img {
  height: 70vh;
  width: auto;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: #FF0100;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    transition: transform .2s;
}

.card button:hover {
    background-color: rgb(175, 2, 2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transform: translateY(-10px);
}

@media only screen and (max-width: 842px) {

.card img {
    height: 50vh;
}

.main-heading h2 {
    font-size: 60px;
  }
  
  .main-heading p {
      font-size: 15px;
  }


}

@media only screen and (max-width: 625px) {
    .main-heading {
        margin-right: 25%;
        margin-left: 15%;
      }

      .card img {
        height: 40vh;
    }
}

@media only screen and (max-width: 500px) {
    .main-heading {
        margin-right: 25%;
        margin-left: 0;
      }

      .card {
        margin-right: 20px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 472px) {
    .main-heading {
        margin-right: 25%;
        margin-left: 0;
      }
      .card img {
        height: auto;
        width: 60vw;
    }
     
}
