a {
    text-decoration: none;
    color: rgb(81,173,237);
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(236,236,236);
}
img {
    height: 20px;
    margin-right: 10px;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
}

.big-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px; 
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    border: none;
}

.small-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding-left: 15px;
    border-radius: 5px;
    color: white;
    border: none;
}

.container {
    display: flex;
    align-items: center;
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.blue {
    background-color: rgb(81,173,237);
    box-shadow: 0 2px 0 rgb(46,159,238);
}

.red {
    background-color: rgb(237,81,83);
    box-shadow: 0 2px 0 rgb(225,64,67);
}

.grey {
    background-color: rgb(83,97,112);
    box-shadow: 0 2px 0 rgb(76,86,98);
}